[Desktop Entry]
Version=1.0
Type=Application

Name=GoGallery
Comment=Static Site generator but for images. Its like Hugo but for large photo galleries
Icon=io.exceptionerror.gogallery
Exec=gogallery
Terminal=false
Categories=Development;
Keywords=gogallery;gallery;
X-Purism-FormFactor=Workstation;Mobile;